

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 900;
    src: url('eot/IRANYekan-Black.eot');
    src: url('eot/IRANYekan-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-Black.woff') format('woff'),
    url('ttf/IRANYekan-Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 800;
    src: url('eot/IRANYekan-ExtraBold.eot');
    src: url('eot/IRANYekan-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-ExtraBold.woff') format('woff'),
    url('ttf/IRANYekan-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 600;
    src: url('eot/IRANYekan-Medium.eot');
    src: url('eot/IRANYekan-Mediumd41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-Medium.woff') format('woff'),
    url('ttf/IRANYekan-Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('eot/IRANYekan-Bold.eot');
    src: url('eot/IRANYekan-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-Bold.woff') format('woff'),
    url('ttf/IRANYekan-Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('eot/IRANYekan-Light.eot');
    src: url('eot/IRANYekan-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-Light.woff') format('woff'),
    url('ttf/IRANYekan-Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 100;
    src: url('eot/IRANYekan-Thin.eot');
    src: url('eot/IRANYekan-Thind41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan-Thin.woff') format('woff'),
    url('ttf/IRANYekan-Thin.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src: url('eot/IRANYekan.eot');
    src: url('eot/IRANYekand41d.eot?#iefix') format('embedded-opentype'),
    url('woff/IRANYekan.woff') format('woff'),
    url('ttf/IRANYekan.ttf') format('truetype');
}
