@import url('../../Fonts/Shin/style.css');
@import url('../../Fonts/DroidArabic/style.css');
@import url('../../Fonts/IRANSansDN/style.css');
@import url('../../Fonts/IRANYekan/style.css');
@import url('../../Fonts/Sahel/style.css');
@import url('../../Fonts/IRANSans/style.css');


body {
    margin: 0;
    /*padding-top: 85px;*/
    direction: rtl;
    background-color: #fafafa;
    font-family: IRANYekan;

}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a, a:hover, a:focus, a:focus:active, a:active:hover {
    text-decoration: none;
    color: #626262;
}


/*HEADER*/
/*Loading*/
#nprogress .spinner {
    display: none;
}

/*Loading*/
.header {
    z-index: 9;
    background-color: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, .7);
    position: fixed;
    height: 60px;
    width: 100%;
    right: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 125px 15px 40px;
}

.mini-menu {
    position: relative;
    float: left;
}

.mini-menu:after {
    font-family: "Font Awesome 5 Pro";
    content: '\f5ff';
    color: #626262;
    font-size: 23px;
}

.user-img {
    float: left;
    cursor: pointer;
}

.user-img img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.user-img span {
    float: right;
    font-size: 14px;
    margin: 4px 15px;
}

.user-profile-menu {
    position: relative;
    float: left;
    margin: 0 15px;
}

.user-image-menu {
    position: absolute;
    width: 150px;
    left: -7px;
    top: 42px;
    height: 150px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(98, 98, 98, .2);
    box-shadow: 0 0 5px rgba(98, 98, 98, .2);
    border-radius: 3px;
    display: none;
}

.user-image-menu.active {
    display: block;
}

.user-image-menu:before, .user-image-menu:after {
    position: absolute;
    content: '';
    display: inline-block;
}

.user-image-menu:after {

    top: -7px;
    left: 15px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(189, 189, 189, 0.2);
}

.user-image-menu:before {
    top: -6px;
    left: 16px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    z-index: 1;
    border-left: 6px solid transparent;
}

.menu-setting {
    float: right;
}

/*HEADER*/
/*GRID*/
/*container*/
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/*container*/
/*container-sm*/
@media (max-width: 576px) {
    .container-sm {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container-sm {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container-sm {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container-sm {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-sm {
        width: 1140px;
    }
}

/*container-sm*/
/*container-md*/
@media (max-width: 576px) {
    .container-md {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container-md {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container-md {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container-md {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-md {
        width: 1140px;
    }
}

/*container-md*/
/*container-lg*/
@media (max-width: 576px) {
    .container-lg {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container-lg {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container-lg {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container-lg {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-lg {
        width: 1140px;
    }
}

/*container-lg*/
/*container-xl*/
@media (max-width: 576px) {
    .container-xl {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container-xl {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container-xl {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container-xl {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-xl {
        width: 90%;
    }
}

/*container-xl*/
.container, .container-sm, .container-md, .container-lg, .container-xl {
    margin: auto;
    display: inline-block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.row-cols-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    -ms-flex-order: -1;
    order: -1;
}

.order-last {
    -ms-flex-order: 13;
    order: 13;
}

.order-0 {
    -ms-flex-order: 0;
    order: 0;
}

.order-1 {
    -ms-flex-order: 1;
    order: 1;
}

.order-2 {
    -ms-flex-order: 2;
    order: 2;
}

.order-3 {
    -ms-flex-order: 3;
    order: 3;
}

.order-4 {
    -ms-flex-order: 4;
    order: 4;
}

.order-5 {
    -ms-flex-order: 5;
    order: 5;
}

.order-6 {
    -ms-flex-order: 6;
    order: 6;
}

.order-7 {
    -ms-flex-order: 7;
    order: 7;
}

.order-8 {
    -ms-flex-order: 8;
    order: 8;
}

.order-9 {
    -ms-flex-order: 9;
    order: 9;
}

.order-10 {
    -ms-flex-order: 10;
    order: 10;
}

.order-11 {
    -ms-flex-order: 11;
    order: 11;
}

.order-12 {
    -ms-flex-order: 12;
    order: 12;
}

.offset-1 {
    margin-left: 8.333333%;
}

.offset-2 {
    margin-left: 16.666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.333333%;
}

.offset-5 {
    margin-left: 41.666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333333%;
}

.offset-8 {
    margin-left: 66.666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.333333%;
}

.offset-11 {
    margin-left: 91.666667%;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-sm-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-sm-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-sm-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-sm-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-sm-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-sm-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-sm-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-sm-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-sm-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-sm-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-sm-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-sm-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-sm-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-sm-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-sm-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-sm-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-sm-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-sm-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-sm-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-sm-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.333333%;
    }

    .offset-sm-2 {
        margin-left: 16.666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.333333%;
    }

    .offset-sm-5 {
        margin-left: 41.666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.333333%;
    }

    .offset-sm-8 {
        margin-left: 66.666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.333333%;
    }

    .offset-sm-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-md-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-md-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-md-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-md-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-md-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-md-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-md-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-md-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-md-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-md-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-md-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-md-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-md-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-md-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-md-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-md-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-md-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-md-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-md-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-md-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.333333%;
    }

    .offset-md-2 {
        margin-left: 16.666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.333333%;
    }

    .offset-md-5 {
        margin-left: 41.666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.333333%;
    }

    .offset-md-8 {
        margin-left: 66.666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.333333%;
    }

    .offset-md-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-lg-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-lg-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-lg-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-lg-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-lg-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-lg-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-lg-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-lg-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-lg-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-lg-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-lg-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-lg-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-lg-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-lg-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-lg-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-lg-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-lg-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-lg-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-lg-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.333333%;
    }

    .offset-lg-2 {
        margin-left: 16.666667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.333333%;
    }

    .offset-lg-5 {
        margin-left: 41.666667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.333333%;
    }

    .offset-lg-8 {
        margin-left: 66.666667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.333333%;
    }

    .offset-lg-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-xl-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-xl-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-xl-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-xl-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-xl-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-xl-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xl-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-xl-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-xl-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-xl-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-xl-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-xl-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-xl-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-xl-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-xl-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-xl-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-xl-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-xl-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-xl-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-xl-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-xl-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.333333%;
    }

    .offset-xl-2 {
        margin-left: 16.666667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.333333%;
    }

    .offset-xl-5 {
        margin-left: 41.666667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.333333%;
    }

    .offset-xl-8 {
        margin-left: 66.666667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.333333%;
    }

    .offset-xl-11 {
        margin-left: 91.666667%;
    }
}

/*GRID*/

.page-content-wrapper {
    text-align: center;
    float: left;
    width: calc(100% - 80px);
    height: 400px;
    display: inline-block;
    padding-top: 60px;
}


/*breadcrumb*/
.breadcrumb {
    background-color: #f0f0f0;
    float: right;
    width: 100%;
    height: 60px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*breadcrumb*/

/*Card BOX*/
.card {
    display: inline-block;
    margin: 30px 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    text-align: right;
    direction: rtl;
}

.card.card-default, .card-traditional {
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.card-header, .card-dec {

    min-height: 20px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

.card-body h5 {
    margin-bottom: 10px;
    color: #313131;
    font-size: 20px;
    font-weight: 400;
}

.card-dec {
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
    line-height: 1.5;
}

/*Card BOX*/


/*Forms*/
.form, .form-group {
    display: inline-block;
    width: 100%;
}

.form-group {
    margin: 5px 0;
    position: relative;
}

/*default form && traditional form*/
.form-default .form-group label, .form-traditional .form-group label, .form-txt-btn .form-group label {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    color: #868686;
    z-index: 2;
    letter-spacing: .02em;


}

.form-default .form-group label {
    color: #adadad;
}
.form-default .form-group input[type="text"], .form-default .form-group input[type="password"], .form-default .form-group input[type="email"], .form-traditional .form-group input[type="text"], .form-traditional .form-group input[type="password"], .form-traditional .form-group input[type="email"],
.form-txt-btn .form-group input[type="text"], .form-txt-btn .form-group input[type="password"], .form-txt-btn .form-group input[type="email"], .select2-container--default .select2-selection--single {
    width: 100%;
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 31px 10px 5px 10px;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    min-height: 35px;
    color: #313131;
    font-family: IRANYekan;
    transition: all .3s ease-in-out;
}

.form-traditional .form-group input[type="text"]:focus, .form-traditional .form-group input[type="password"]:focus, .form-traditional .form-group input[type="email"]:focus, .form-traditional .form-group input:disabled,
.form-default .form-group input[type="text"]:focus, .form-default .form-group input[type="password"]:focus, .form-default .form-group input[type="email"]:focus, .form-default .form-group input:disabled,
.form-txt-btn .form-group input[type="text"]:focus, .form-txt-btn .form-group input[type="password"]:focus, .form-txt-btn .form-group input[type="email"]:focus, .form-txt-btn .form-group input:disabled {
    background-color: #F0F0F0;
    border-color: #d6d6d6;
}

.form-default .form-group input:disabled {
    border-color: rgb(224, 224, 224);
}

.form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c4c4c4;
    font-weight: 300;
    font-size: 14px;
}

.form-group input::-moz-placeholder { /* Firefox 19+ */
    color: #c4c4c4;
}

.form-group input:-ms-input-placeholder { /* IE 10+ */
    color: #c4c4c4;
}

.form-group input:-moz-placeholder { /* Firefox 18- */
    color: #c4c4c4;
}

.required.form-group:after {
    content: "*";
    position: absolute;
    color: red;
    left: 10px;
    top: 10px;

}

.form-traditional .required.form-group:after {
    display: none;
}

.form-traditional .required.form-group label:after {
    top: 0;
    content: "*";
    position: absolute;
    color: red;
    right: -8px;
}

.row-group {
    display: flex;
    margin: 0 -5px;
}

.row-group.two > div {
    margin: 5px;
    width: 50%;
}


/*default form && traditional form*/
/* traditional form*/
.form-traditional .form-group input[type="text"], .form-traditional .form-group input[type="password"], .form-traditional .form-group input[type="email"], .form-txt-btn .form-group input[type="text"], .form-txt-btn .form-group input[type="password"], .form-txt-btn .form-group input[type="email"] {
    position: unset;
    margin: 4px 0 8px 0;
    display: inline-block;
    padding: 0 8px;
    min-height: 35px;
    width: 100%;
}

.form-traditional .form-group label, .form-txt-btn .form-group label {
    position: relative;
    top: 0;
    pointer-events: auto;
    right: 0;

}

.form-traditional .form-group label small {
    display: inline-block;
    color: #adadad;
    font-size: 12px;
    margin: 0 5px;
}

/* traditional form*/


/*txt-btn form*/
/*.form-txt-btn .form-group > */
.form-txt-btn .icon-input {
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 0 3px 3px 0;
    border-left: none;
    padding: 6px 7px 5px 7px;
    color: #a2a2a2;
    font-size: 16px;
    vertical-align: middle;
    margin: 4px 0px;
}

.form-txt-btn .icon-input + input {
    width: calc(100% - 35px) !important;
    float: right;
    border-radius: 3px 0 0 3px !important;
}

.form-txt-btn .icon-input svg {
    vertical-align: middle;
    width: 1em !important;
}

.icon-input.yellow {
    color: #fff;
    background-color: #f8d053;
}

.icon-input.blue {
    color: #fff;
    background-color: #48b0f7;
}

.icon-input.gray {
    color: #b3b3b3;
    background-color: #F0F0F0;
}

.checkbox.circle label:before {

    border-radius: 50%;
    transition: border .2s linear 0s, color .2s linear 0s;

}

.checkbox {
    padding-right: 30px;
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 4px 0;
}

.checkbox input {
    position: absolute;
    vertical-align: middle;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.radio label:before, .checkbox label:before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}

.checkbox label:before {

    position: absolute;
    vertical-align: middle;
    right: -23px;
    margin: 0;
    border-radius: 2px;
    top: 48%;
    transform: translateY(-50%);
    transition: border .2s linear 0s, color .2s linear 0s;
}

.checkbox input[type=checkbox]:focus + label:before {
    background-color: #e6e6e6;
}

.checkbox input[type=checkbox]:checked + label:before {
    border-width: 8.5px;
}

.checkbox.check-red input[type=checkbox]:checked + label:before {
    border-color: #f55753;
}

.checkbox.check-yellow input[type=checkbox]:checked + label:before {
    border-color: #F8D053;
}

.checkbox.check-black input[type=checkbox]:checked + label:before {
    border-color: #3B4752;
}

.checkbox.check-purple input[type=checkbox]:checked + label:before {
    border-color: #6D5CAE;
}

.checkbox.check-green input[type=checkbox]:checked + label:before {
    border-color: #10cfbd;
}

.checkbox.check-success input[type=checkbox]:checked + label::after, .checkbox.check-primary input[type=checkbox]:checked + label::after, .checkbox.check-complete input[type=checkbox]:checked + label::after, .checkbox.check-warning input[type=checkbox]:checked + label::after, .checkbox.check-danger input[type=checkbox]:checked + label::after, .checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #fff;
}

.checkbox input[type=checkbox]:checked + label::after {
    font-family: "Font Awesome 5 Pro";
    z-index: 3;
    content: "\f00c";
    color: #fff;
}

.checkbox label:after {
    border-radius: 3px;
}

.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -21px;
    top: 3px;
    font-weight: 600;
    font-size: 12px;
    transition: border .2s linear 0s, color .2s linear 0s;
}


/*Radio*/


.radio {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0
}

.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 3px;
    margin-left: 15px;
    min-width: 17px;
    min-height: 17px;
    font-size: 14px;
    line-height: 20px;
    color: #868686;
    margin-bottom: 0;
}

.radio label:before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    right: -30px;
    background-color: #fff;
    border: 1px solid #d0d0d0
}


.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border .3s 0s cubic-bezier(.455, .03, .215, 1.33);
    transition: border .3s 0s cubic-bezier(.455, .03, .215, 1.33)
}

.radio input[type=radio]:checked + label:before {
    border-width: 5px
}

.radio input[type=radio]:focus + label {
    color: #2c2c2c
}

.radio input[type=radio]:focus + label:before {
    background-color: #e6e6e6
}

.radio input[type=radio] {
    vertical-align: middle;
    filter: opacity(0);
    -moz-filter: opacity(1);
}

.radio input[type=radio][disabled] + label {
    opacity: .65
}

.radio.radio-success input[type=radio]:checked + label:before {
    border-color: #10cfbd
}

.radio.radio-primary input[type=radio]:checked + label:before {
    border-color: #6d5cae
}

.radio.radio-info input[type=radio]:checked + label:before {
    border-color: #3b4752
}

.radio.radio-warning input[type=radio]:checked + label:before {
    border-color: #f8d053
}

.radio.radio-danger input[type=radio]:checked + label:before {
    border-color: #f55753
}

.radio.radio-complete input[type=radio]:checked + label:before {
    border-color: #48b0f7
}

.checkbox + .checkbox, .radio + .radio {
    margin-top: -5px
}

/*Radio*/
/*txt-btn form*/

.select2-search--dropdown input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .07) !important;
}

.select2-container--default .select2-selection--single {
    padding: 3px 0;
}

.select2-dropdown {
    border: none;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-results__option {
    font-size: 13px;
    padding: 6px 22px;
    color: #585858;
}

.select2-search--dropdown .select2-search__field {
    padding: 9px;
    font-family: IRANYekan;
}

.select2-search--dropdown {
    padding: 13px 10px 10px 10px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F0F0F0;
    color: #585858;

}

.form-txt-btn .form-group.default-group label {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
}

.form-txt-btn .form-group.default-group input {
    width: 100%;
    position: relative;
    padding: 31px 10px 5px 10px;
    min-height: 35px;
}

.default-group .icon-input {
    position: absolute;
    left: 1px;
    z-index: 2;
    height: 57px;
    bottom: 0;
    top: 1px;
    padding: 16px 8px;
    border: none;
    border-radius: 2px 0 0 2px;

}


.switchery > label {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}

.switchery.small > label {
    height: 20px;
    width: 33px;
}

.switchery.checkbox {
    padding: 0;
}


.switchery.checkbox label:after {
    content: '' !important;
    width: 28px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 28px;
    left: 0;
    top: 0;
    border-radius: 50%;
    right: auto;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

.switchery.small > label:after {
    height: 19px;
    width: 19px;
}

.switchery.small input[type=checkbox]:checked + label:after {
    left: 13px;
    right: auto;
}

.switchery.checkbox label:before {
    display: none;
}

.switchery input[type=checkbox] + label {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
}


.switchery input[type=checkbox]:checked + label {
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.switchery.check-green input[type=checkbox]:checked + label {
    background-color: rgb(16, 207, 189);
    border-color: rgb(16, 207, 189);
    box-shadow: rgb(16, 207, 189) 0px 0px 0px 16px inset;

}

.switchery.check-blue input[type=checkbox]:checked + label {
    background-color: #48b0f7;
    border-color: #48b0f7;
    box-shadow: #48b0f7 0px 0px 0px 16px inset;
}

.switchery.check-red input[type=checkbox]:checked + label {
    background-color: #f55753;
    border-color: #f55753;
    box-shadow: #f55753 0px 0px 0px 16px inset;
}

.switchery.check-purple input[type=checkbox]:checked + label {
    background-color: #6D5CAE;
    border-color: #6D5CAE;
    box-shadow: #6D5CAE 0px 0px 0px 16px inset;
}

.switchery.check-yellow input[type=checkbox]:checked + label {
    background-color: #F8D053;
    border-color: #F8D053;
    box-shadow: #F8D053 0px 0px 0px 16px inset;
}

.switchery input[type=checkbox]:checked + label:after {
    left: 21px;
    right: auto;
}
/*Forms*/

